@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Home Page";
}

@using PierresTreats.Models;

<h1>PATISSERIE</h1>

@if(User.Identity.IsAuthenticated)
{
  <br />
  <h6>Create a new 
  <br />
  @Html.ActionLink("Treat", "Create", "Treats") or @Html.ActionLink("Flavor", "Create", "Flavors") 
  <br />
  to update the Portal.</h6>
}

@if (!User.Identity.IsAuthenticated)
{
  <br />
  <h6>Please @Html.ActionLink("log in", "Login", "Account")
  <br />
  to create a new 
  <br />
  @Html.ActionLink("Treat", "Create", "Treats") or @Html.ActionLink("Flavor", "Create", "Flavors") 
  <br />
  to update the Portal.</h6>
}


@if (ViewBag.Treats.Count == 0 && ViewBag.Flavors.Count == 0)
{ 
  <br />
  <h6>Currently, there are no
  <br /> @Html.ActionLink("Treats", "Index", "Treats") or @Html.ActionLink("Flavors", "Index", "Flavors")
  <br /> in your portal.</h6>
}

else
{

  <div class="left">
    
  @if (ViewBag.Treats.Count > 0)
  {
    <h2>@Html.ActionLink("Treats", "Index", "Treats")</h2>
    <hr />
    @foreach (Treat added in ViewBag.Treats)
    {
      <p>&ndash;	 @Html.ActionLink(added.Name, "Details", "Treats", new { id = added.TreatId })</p>
    }
  }

  </div>
  <div class="right">

  @if (ViewBag.Flavors.Count > 0)
  {
    <h2>@Html.ActionLink("Flavors", "Index", "Flavors")</h2>
    <hr />
    @foreach (Flavor added in ViewBag.Flavors)
    {
      <p>&ndash;	 @Html.ActionLink(added.Type, "Details", "Flavors", new { id = added.FlavorId })</p>
    }
  }
  
  </div>
}

